@import '../../styles/setup';

.panel {
  $temporary-url: '//placehold.it/600x400/#{str-replace(#{color(sand)}, '#', '')}/#{str-replace(#{darken(color(sand), 3%)}, '#', '')}?text=SAND';
  background: url($temporary-url) 50% 0;
  padding: 20px;

  @include breakpoint(large-tablet-up) {
    padding: 200px 30px 100px;
  }

  @include breakpoint(medium-desktop-up) {
    padding: 200px 30px;
  }
}

.headline {
  // TEMPORARY TEXT STYLES
  // WILL BE RENDERED VIA CANVAS LATER
  color: color(tan1);
  font-size: 32px;
  font-style: italic;
  line-height: 1;
  margin: auto;
  max-width: 800px;
  text-align: center;

  @include breakpoint(medium-desktop-up) {
    font-size: 75px;
  }
}

.text {
  margin: auto;
  max-width: 500px;

  p {
    color: color(dark);
    font-size: 18px;
    font-weight: bold;
    line-height: 2;

    &:nth-of-type(even),
    &:last-child {
      text-align: right;
    }

    &:nth-of-type(3) {
      font-style: italic;
      font-size: 32px;
      line-height: 1.5;
    }
  }
}

.highlight {
  color: red;
}
