@import '../../styles/setup';

.panel {
  background: #fff;
  border-radius: 20px;
  margin: auto;
  max-width: 1300px;
  padding: 20px;
  width: calc(100vw - 40px);

  @include breakpoint(small-tablet-down) {
    margin-bottom: 20px;
  }

  @include breakpoint(large-tablet-up) {
    display: flex;
    justify-content: space-around;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: translateY(-75px);
    width: calc(100vw - 60px);
  }

  @include breakpoint(medium-desktop-up) {
    padding: 75px;
  }
}

.graphic {
  // TODO
}

.content {
  @include breakpoint(large-tablet-up) {
    max-width: 325px;
    padding-left: 20px;
  }

  @include breakpoint(medium-desktop-up) {
    padding-left: 75px;
  }

  :global {
    .button {
      white-space: nowrap;
    }
  }
}

.heading {
  font-style: italic;
}
