@import '../styles/setup';

$max-quote-width: 1100px;

.container {
  position: relative;

  @include breakpoint($desktop-nav) {
    margin: auto;
    max-width: $max-quote-width;
  }
}

.content {
  margin: auto;
  max-width: 500px;

  i {
    font-style: normal;
  }

  @media (min-width: $max-quote-width) {
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 1;
  }
}

.background {
  @media (max-width: $max-quote-width - 1) {
    display: none;
  }

  @media (min-width: $max-quote-width) {
    margin: auto;

    blockquote {
      color: #A8ACBA;
      opacity: 0.08;
      padding: 0;

      p {
        font-family: $extrabolditalic;
        font-size: 100px;
        line-height: 1;
      }

      i {
        color: #DB7275;
      }
    }
  }
}
