@import '../styles/setup';

$show-quote-background: 'small-desktop-up';
$max-page-width: 1020px;

.container {
  @include breakpoint($desktop-nav) {
    display: flex;
    margin: auto;
    max-width: $max-page-width;
  }
}

.content {
  margin: auto;
  max-width: 500px;

  @include breakpoint(small-desktop-up) {
    max-width: 440px;
    margin: 0 0 0 auto;
  }

  @include breakpoint(medium-desktop-up) {
    max-width: 500px;
  }

  i {
    font-style: normal;
  }
}
