@import '../styles/setup';

.container {
  background: url('//placehold.it/400x400/035/146?text=FPO') 50% 0;
  padding: 100px 6.25vw 50px;

  @include breakpoint(large-mobile-up) {
    padding: 25vw 10vw;
  }

  @include breakpoint(large-tablet-up) {
    padding: ((320/$max-breakpoint) * 100vw) 30px;
  }

  @include breakpoint(large-desktop-up) {
    padding: 270px 20px;
  }
}

.intro {
  font-family: $semibold;
  font-size: (18/320) * 100vw;
  line-height: 1.5;
  margin: auto;

  @include breakpoint(large-tablet-up) {
    font-size: (45/$max-breakpoint) * 100vw;
    max-width: (820/$max-breakpoint) * 100vw;
  }

  @include breakpoint(large-desktop-up) {
    font-size: 45px;
    max-width: 920px;
  }

  b {
    color: color(red);
  }
}
