@import '../styles/setup';

.container {
  padding: 25vw 0;
  text-align: center;

  @include breakpoint(large-tablet-up) {
    padding: 25vh 0 20vh;
  }

  @include breakpoint(medium-desktop-up) {
    padding: calc(27vh - 200px) 0 calc(20vh - 10%);
  }

  @include breakpoint(large-desktop-up) {
    padding: calc(27vh - 200px) 0 calc(20vh - 5%);
  }
}

.title {
  line-height: 1.1;
  margin: 0;
}

.line1 {
  display: block;
  font-size: (14/320) * 100vw;

  @include breakpoint(small-tablet-up) {
    font-size: (26/840) * 100vw;
  }

  @include breakpoint(small-desktop-up) {
    font-size: (32/1280) * 100vw; // 32px
  }

  @include breakpoint(large-desktop-up) {
    font-size: 36px;
  }
}

.line2 {
  display: block;
  font-size: (36/320) * 100vw; // 36px
  text-transform: uppercase;

  @include breakpoint(small-tablet-up) {
    font-size: (72/840) * 100vw; // 72px
  }

  @include breakpoint(small-desktop-up) {
    font-size: (82/1280) * 100vw; // 82px
  }

  @include breakpoint(large-desktop-up) {
    font-size: 98px;
  }

  b {
    color: rgba(color(offwhite), 0.7);
    font-family: $regular;
    font-weight: normal;
  }
}

.tagline {
  font-size: 14px;
  line-height: 1.75;
  margin-top: 0;

  @include breakpoint(large-mobile-up) {
    @include smooth;
    font-size: 18px;
  }

  @include breakpoint(small-desktop-up) {
    font-size: 20px;
  }

  @include breakpoint(large-desktop-up) {
    font-size: 30px;
  }
}

.summary {
  font-family: $semibold;
  font-size: 4.8vw; // 18px at 375 viewport
  line-height: 1.5;
  margin: 0 auto 1.5em;

  @include breakpoint(large-mobile-up) {
    font-size: 4vw;
    width: 75vw;
  }

  @include breakpoint(small-tablet-up) {
    font-size: 2.5vw;
    width: 65vw;
  }

  @include breakpoint(large-desktop-up) {
    font-size: 35px;
    width: 960px;
  }
}

:global {
  .home {
    min-height: 100%;

    body {
      background: 50% no-repeat;
      background-size: cover;

      @include breakpoint(small-desktop-down) {
        background-position: 50% 75%;
        background-size: auto;
      }

      @include breakpoint(large-tablet-down) {
        background-position: 50% 70%;
      }

      @include breakpoint(small-tablet-down) {
        background-position: 50% 72%;
      }

      @include breakpoint(large-mobile-down) {
        background-position: 50% 78%;
      }

      @include breakpoint(medium-mobile-down) {
        background-position: 50% 75%;
      }

      @include breakpoint(small-mobile-down) {
        background-position: 50% 70%;
      }
    }

    // images optimized with imgix sandbox: https://sandbox.imgix.com/
    &[data-webp="true"] body {
      background-image: url('../images/bg-q50-sharp20.webp');
    }

    &[data-webp="false"] body {
      background-image: url('../images/bg-q60-sharp10.jpeg');
    }
  }
}
