@import '../styles/setup';

.container {
  padding: 120px 0 20px;

  @include breakpoint($desktop-nav) {
    margin: auto;
    max-width: 1360px;
    padding-top: 200px;
  }
}

.intro {
  margin: 0 auto 50px;
  max-width: 600px;
  text-align: center;

  @include breakpoint($desktop-nav) {
    margin-bottom: 100px;
  }
}

.grid {
  font-size: 16px;
  line-height: 2;
  margin: 0;
  padding: 0;

  @include breakpoint(small-tablet-up) {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(small-desktop-up) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(large-desktop-up) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.box {
  align-items: center;
  background: #303848;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 60px 8vw;
  text-align: center;

  @include breakpoint(large-mobile-down) {
    & + & {
      margin-top: 15px;
    }
  }

  // grid spanning starts here
  @include range(small-tablet-up, large-tablet-down) {
    &:nth-child(3n+1) {
      grid-column: span 2;
      padding-left: 20vw;
      padding-right: 20vw;
    }
  }

  @include range(small-desktop-up, medium-desktop-down) {
    padding-left: 5vw;
    padding-right: 5vw;

    &:nth-child(4n+1),
    &:nth-child(4n+4) {
      grid-column: span 2;
      padding-left: 16vw;
      padding-right: 16vw;
    }
  }

  @include breakpoint(large-desktop-up) {
    padding: 120px 40px;

    &:nth-child(6n+1),
    &:nth-child(6n+5) {
      grid-column: span 2;
      padding-left: 200px;
      padding-right: 200px;
    }
  }
}

.inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
}

.icon {
  margin-bottom: 20px;

  @include breakpoint(small-desktop-up) {
    margin-bottom: 40px;
  }
}
