@import '../styles/setup';

.container {
  @include breakpoint($desktop-nav) {
    margin: auto;
    max-width: 1360px;
  }
}

.grid {
  font-size: 16px;
  line-height: 2;
  margin: 0;
  padding: 0;

  @include breakpoint(small-tablet-up) {
    // fallback grid
    display: flex;
    flex-wrap: wrap;

    // real grid
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);

    @supports (grid-gap: 15px) {
      display: grid;
    }
  }

  @include breakpoint(small-desktop-up) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(large-desktop-up) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.box {
  align-items: center;
  background: #303848;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 60px 8vw;
  text-align: center;
  width: 100%; // fallback

  @include breakpoint(large-mobile-down) {
    & + & {
      margin-top: 15px;
    }
  }

  // grid starts here
  @include breakpoint(small-tablet-up) {
    margin: 8px; // fallback
  }

  @include breakpoint(small-desktop-up) {
    width: calc(50% - 16px); // fallback
  }

  @include breakpoint(large-desktop-up) {
    width: calc(1/3 * 100% - 16px); // fallback
  }

  @supports (grid-gap: 15px) {
    margin: 0;
    width: auto;
  }

  // grid spanning starts here
  @include range(small-tablet-up, large-tablet-down) {
    &:nth-child(3n+1) {
      -ms-grid-column-span: 2;
      grid-column: span 2;
      padding-left: 20vw;
      padding-right: 20vw;
    }
  }

  @include range(small-desktop-up, medium-desktop-down) {
    padding-left: 5vw;
    padding-right: 5vw;

    @supports (grid-gap: 15px) {
      &:first-child,
      &:nth-child(4) {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        padding-left: 16vw;
        padding-right: 16vw;
      }
    }
  }

  @include breakpoint(large-desktop-up) {
    padding: 100px 40px;

    @supports (grid-gap: 15px) {
      &:first-child {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        padding-left: 155px;
        padding-right: 155px;
      }
    }
  }

  strong,
  span {
    max-width: 100%; // for IE 11
  }

  strong {
    font-family: $semibold;
    font-size: 20px;

    @include breakpoint(small-tablet-up) {
      font-size: 25px;
    }
  }
}

.icon {
  margin-bottom: 20px;

  @include breakpoint(small-desktop-up) {
    margin-bottom: 40px;
  }
}
