@import '../styles/setup';

.container {
  padding: 120px 0 20px;

  @include breakpoint($desktop-nav) {
    margin: auto;
    max-width: 1000px;
    padding-top: 200px;
  }
}

.content {
  max-width: 500px;
}
