@import '../styles/setup';

.container {
  @include breakpoint($desktop-nav) {
    display: flex;
    margin: auto;
    max-width: 1050px;
  }

  @include breakpoint(large-desktop-up) {
    padding-top: 70px;
  }
}

.location {
  color: rgba(#fff, 0.7);
  max-width: 500px;

  @include breakpoint($mobile-nav) {
    margin: 0 auto 50px;
  }
}

.directions {
  margin: auto;
  max-width: 500px;
  padding-left: 100px;
  position: relative;

  @include breakpoint($desktop-nav) {
    width: 45vw;
  }
}

.title {
  font-size: 18px;
}

.address {
  font-family: $extrabolditalic;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 1em;

  @include breakpoint(small-tablet-up) {
    font-size: 38px;
  }
}

.transportation-type {
  font-size: 18px;
  margin-bottom: 0;
}

.transportation-text {
  margin-bottom: 4em;
  margin-top: 0.5em;

  b {
    color: #C35C5F;
  }
}

.icon {
  position: absolute;
  left: 0;
  transform: translateY(-1em);
}
