// dimensions
$background-width: 1600px;

// fonts
$regular: 'gilroy-regular', sans-serif;
$semibold: 'gilroy-semibold', sans-serif;
$extrabolditalic: 'gilroy-extrabolditalic', sans-serif;

// nav specific breakpoints
$mobile-nav: 'small-desktop-down';
$desktop-nav: 'medium-desktop-up';
