@import '../styles/setup';

.footer {
  font-size: 13px;
  line-height: 1.5;
  padding: 20px;

  @include breakpoint(small-desktop-down) {
    text-align: center;
  }

  @include breakpoint(large-tablet-up) {
    padding: 60px;
    position: relative;
  }
}

.text-link {
  margin: 0 0.5ch;
}

.phone {
  font-family: $semibold;
  font-size: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;

  @include breakpoint(medium-desktop-up) {
    margin: 0;
    position: absolute;
    right: 60px;
    top: 60px;
  }
}

.logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @include breakpoint(small-desktop-down) {
    justify-content: center;
  }

  @include breakpoint(medium-desktop-up) {
    margin: 0 0 -10px -20px;
  }

  li {
    padding: 20px;

    @include breakpoint(medium-desktop-up) {
      padding: 10px 20px;
    }
  }
}
