@import '../styles/setup';

.footer {
  font-size: 13px;
  line-height: 1.5;
  padding: 20px 20px 0;

  @include breakpoint(small-desktop-down) {
    text-align: center;
  }

  @include breakpoint(large-tablet-up) {
    position: relative;
  }

  @include breakpoint($desktop-nav) {
    padding: 60px 3vw 50px;
  }
}

.text-link {
  padding: 0.5ch;

  @include breakpoint(medium-desktop-up) {
    margin: 0 0.25ch;

    &:first-of-type {
      margin-left: 0.5ch;
    }
  }
}

.phone {
  font-family: $semibold;
  font-size: 16px;
  letter-spacing: 1.6px;
  margin: 0;
  text-transform: uppercase;

  @include breakpoint(medium-desktop-up) {
    position: absolute;
    right: 3vw;
    top: 58px;
  }
}

.logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @include breakpoint(small-desktop-down) {
    justify-content: center;
  }

  @include breakpoint(medium-desktop-up) {
    margin: 0 0 -10px -20px;
  }

  li {
    padding: 20px;

    @include breakpoint(medium-desktop-up) {
      padding: 10px 20px;
    }

    img {
      @include breakpoint(medium-mobile-down) {
        max-width: 100px;
      }
    }
  }
}
