@import '../styles/setup';

.header {
  display: flex;
  padding: 40px;
}

.title {
  color: #544D4A;
  font-style: italic;
  font-size: 22px;
  padding: 0.5em;
  text-decoration: none;

  span {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.utility {
  color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  will-change: transform;
  z-index: 100;

  &[data-open=true] {
    transform: translateY(100%);
  }
}

.tag {
  background: color(red);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 12px 0 0;
  width: 135px;

  position: absolute;
  right: 40px;

  li {
    display: flex;
    font-size: 13px;
    margin: 0;

    &:last-child {
      width: 100%;
    }
  }

  a,
  button {
    width: 100%;
  }

  button {
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  img {
    display: block;
    margin: auto;
  }
}

.icon-link {
  display: flex;
  padding: 12px;
}

.text-link {
  color: #fff;
  padding: 12px 18px 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe-outer {
  background: color(red);
  display: flex;
  height: 185px;
  transform: translateY(-100%);
  width: 100%;
}

.subscribe-inner {
  display: flex;

  > div {
    align-items: center;
    display: flex;
    padding: 40px;
    width: 50%;
  }
}

.subscribe-intro {
  background: #fff;
  color: color(red);
  display: flex;
  line-height: 1.5;

  span {
    font-weight: bold;
    font-style: italic;
  }
}

.subscribe-form {
  align-items: stretch;
  display: flex;
  width: 100%;
}

.subscribe-input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  flex-grow: 2;
  flex-shrink: 1;
  font-size: 30px;
  font-style: italic;
  line-height: 1.5;
  margin-right: 40px;
  padding: 0;
  text-decoration: none;

  @include placeholder {
    color: rgba(#fff, 0.8);
  }
}

.subscribe-button {
  background: #fff;
  color: color(red);
  flex-grow: 1;
  flex-shrink: 0;
}

.subscribe-success {
  align-items: center;
  color: rgba(#fff, 0.8);
  display: flex;
  flex: 1;
  font-size: 30px;
  font-style: italic;
  justify-content: center;
}
