@import '../styles/setup';

.header {
  align-items: center;
  justify-content: center;
  display: flex;

  @include breakpoint($desktop-nav) {
    height: 150px;
    padding: 0 120px 0 0;
  }

  @media (min-width: 1000px) {
    padding: 0;
  }
}

.menu-button {
  background: transparent;
  border: 0;
  flex-shrink: 0;
  height: 40px;
  margin-left: auto;
  padding: 0;
  width: 40px;

  // override specificity
  &[class] {
    margin-bottom: auto;
  }

  @include breakpoint($desktop-nav) {
    display: none;
  }
}
