@import '../styles/setup';

.header {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;

  @include breakpoint($desktop-nav) {
    height: 150px;
    padding: 0 120px 0 0;
  }

  @media (min-width: 1000px) {
    padding: 0;
  }
}

.menu-button {
  background: transparent;
  border: 0;
  flex-shrink: 0;
  height: 40px;
  margin-left: auto;
  padding: 0;
  width: 40px;

  // override specificity
  &[class] {
    margin-bottom: auto;
  }

  @include breakpoint($desktop-nav) {
    display: none;
  }
}

.utility {
  color: #fff;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  will-change: transform;
  z-index: 100;

  &[data-open=true] {
    transform: translateY(0);
  }
}

.tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 40px;
  top: 100%;

  @include breakpoint($desktop-nav) {
    padding: 55px 20px 20px 20px;
    right: 0;
  }

  [data-open=true] & {
    background: color(red);

    @include breakpoint($mobile-nav) {
      padding: 15px;
    }
  }

  li {
    display: flex;
    font-size: 13px;
    margin: 0;
  }

  button {
    background: transparent;
    border: 0;
  }

  img {
    display: block;
    margin: auto;
  }
}

.icon-link {
  display: flex;
  height: 40px;
  padding: 0;
  width: 40px;

  img {
    align-self: center; // For Edge
  }
}

.subscribe-outer {
  background: color(red);
}

.subscribe-inner {
  display: flex;
  flex-wrap: wrap;

  > div {
    align-items: center;
    display: flex;
    padding: 20px;

    @include breakpoint(medium-mobile-up) {
      padding: 40px;
    }
  }
}

.subscribe-intro {
  background: #fff;
  color: color(red);
  display: flex;
  letter-spacing: 1.6px;
  line-height: 1.5;
  flex-basis: 400px;
  flex-grow: 1;

  span {
    font-family: $semibold;
    font-style: italic;
  }
}

.subscribe-form {
  flex-basis: 560px;
  flex-grow: 3;
}

.subscribe-done {
  align-items: center;
  color: rgba(#fff, 0.8);
  display: flex;
  flex: 1;
  font-family: $semibold;
  font-style: italic;
  justify-content: center;
  padding: 20px;

  @include breakpoint($desktop-nav) {
    font-size: 30px;
  }
}

.reset-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0;
  text-decoration: underline;
}
