@import '../styles/setup';

.nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;

  @include breakpoint($mobile-nav) {
    background: color(red);
    flex-wrap: wrap;
    left: 0;
    justify-content: space-around;
    position: absolute;
    right: 40px;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    z-index: 200;

    &[data-open=true] {
      transform: translateY(0);
    }
  }

  @include breakpoint($desktop-nav) {
    margin-right: 210px;
  }

  @include breakpoint(large-desktop-up) {
    margin-right: 180px;
  }

  li {
    margin: 0;

    @include breakpoint(large-mobile-down) {
      flex: 1 1 120px;
    }

    @include breakpoint($desktop-nav) {
      margin: 0 20px;
    }

    @include breakpoint(large-desktop-up) {
      margin: 0 25px;
    }
  }
}

.link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;

  @include breakpoint($mobile-nav) {
    padding: 5vw;
  }

  @include breakpoint($desktop-nav) {
    padding: 0.5em;
  }

  @include breakpoint($desktop-nav) {
    position: relative;

    &:after {
      border-bottom: 1px solid color(red);
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      position: absolute;
      transition: transform 0.2s ease-in-out;
      transform-origin: 0 100%;
      transform: rotate(-45deg) scaleX(0);
      will-change: transform;
      width: 100px;
      z-index: -1;
    }
  }
}

.active {
  &:after {
    transform: rotate(-45deg) scaleX(1);
  }
}

.number {
  display: inline-block;

  @include breakpoint($mobile-nav) {
    margin-bottom: 0.5em;
  }

  @include breakpoint($desktop-nav) {
    padding: 0.5em;

    // override specificity
    &[class] {
      margin-top: -0.5em;
      margin-left: -0.5em;
    }
  }

  .link:not(.active) & {
    @include breakpoint($desktop-nav) {
      position: relative;

      &:after {
        border-bottom: 1px solid color(red);
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        transition: transform 0.15s ease-in-out;
        transform-origin: 0 0;
        transform: rotate(45deg) scaleX(0);
        will-change: transform;
        width: 141.4213%; // diagonal length = width * √2
        z-index: 10;
      }
    }
  }

  .link:not(.active):hover & {
    @include breakpoint($desktop-nav) {
      &:after {
        transform: rotate(45deg) scaleX(1);
      }
    }
  }
}

.line {
  display: block;
  font-family: $semibold;
  letter-spacing: 1.6px;

  @include breakpoint(small-tablet-down) {
    margin-right: 0.6ch; // approximately the width of the space character
  }
}
