@import '../styles/setup';

.form {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  flex-grow: 2;
  flex-shrink: 1;
  font-size: 18px;
  font-style: italic;
  line-height: 1.5;
  margin-right: 20px;
  padding: 0;
  text-decoration: none;


  @include breakpoint(small-mobile-down) {
    height: 2em;
    margin: 0 0 20px;
    width: 100%;
  }

  @include breakpoint(medium-mobile-up) {
    flex-grow: 2;
    width: 150px;
  }

  @include breakpoint($desktop-nav) {
    font-size: 30px;
    margin-right: 40px;
  }

  @include placeholder {
    color: rgba(#fff, 0.8);
  }
}

.button {
  flex-grow: 1;

  @include range(medium-mobile-up, medium-mobile-down) {
    flex-grow: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  &[disabled] {
    opacity: 0.3;
  }

  // class for specificity before hot-reloading takes effect ¯\_(ツ)_/¯
  &[class] {
    background: #fff;
    color: color(red);
  }
}

.status {
  width: 100%;

  a {
    color: #fff;
  }
}
