@import '../styles/setup';

@include font-face('gilroy-regular', 'gilroy-regular-webfont');
@include font-face('gilroy-semibold', 'gilroy-semibold-webfont');
@include font-face('gilroy-extrabolditalic', 'gilroy-extrabolditalic-webfont');

html {
  background: #1B2634 linear-gradient(#495269, rgba(121, 118, 140, 0.24) 65%, rgba(42, 54, 71, 0) 100%) no-repeat;
  color: color(offwhite);
  box-sizing: border-box;
  font-family: $regular;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @include breakpoint(medium-desktop-up) {
    font-size: 18px;
  }
}

body {
  margin: 0;

  html:not(.home) &::before {
    background-image: radial-gradient(circle closest-side, rgba(204, 159, 159, 0.16) 0%, rgba(74, 80, 101, 0) 100%);
    content: '';
    display: block;
    position: absolute;
    height: 60vw;
    left: 0;
    margin: auto;
    max-width: 850px;
    max-height: 850px;
    right: 0;
    top: 150px;
    width: 60%;
    z-index: -1;
  }
}

main {
  display: block;
  padding: 80px 20px 0;

  @include breakpoint($desktop-nav) {
    padding-top: 50px;
  }

  @include breakpoint(landscape-large-tablet-down) {
    padding-top: 20px;
  }

  p {
    line-height: 1.75;
    margin: 2.5em 0;

    @include breakpoint(medium-desktop-up) {
      line-height: 2;
    }
  }
}

p b,
p strong {
  font-family: $semibold;
}

a {
  color: color(offwhite);
}

button {
  cursor: pointer;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

.button {
  background: #CC494D;
  border: 0;
  color: #fff;
  display: inline-block;
  font-family: $semibold;
  font-size: 13px;
  letter-spacing: 1.3px;
  line-height: 1.5;
  padding: 1.25em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.screenreader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px 1px 1px 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
