@import '../styles/setup';
@import-normalize;

html {
  background: color(sand);
  color: #454545;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

.button {
  background: #CC494D;
  border: 0;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
  padding: 1.25em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
