@import '../styles/setup';

@include font-face('gilroy-regular', 'gilroy-regular-webfont');
@include font-face('gilroy-semibold', 'gilroy-semibold-webfont');
@include font-face('gilroy-extrabolditalic', 'gilroy-extrabolditalic-webfont');

html {
  background: #1B2634 linear-gradient(#495269, rgba(121, 118, 140, 0.24) 65%, rgba(42, 54, 71, 0) 100%) no-repeat;
  color: color(offwhite);
  box-sizing: border-box;
  font-family: $regular;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @include breakpoint(medium-desktop-up) {
    font-size: 18px;
  }
}

body {
  margin: 0;

  html:not(.home) &::before {
    background-image: radial-gradient(circle closest-side, rgba(204, 159, 159, 0.16) 0%, rgba(74, 80, 101, 0) 100%);
    content: '';
    display: block;
    position: absolute;
    height: 60vw;
    left: 0;
    margin: auto;
    max-width: 850px;
    max-height: 850px;
    right: 0;
    top: 150px;
    width: 60%;
    z-index: -1;
  }
}

main {
  display: block;
  padding: 80px 30px 0;

  @include breakpoint($desktop-nav) {
    padding: 150px 40px 0;
  }

  .home & {

    @include breakpoint(large-mobile-down) {
      padding-bottom: 130vw;
      padding-top: 0;
    }

    @include breakpoint(small-mobile-down) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  p {
    line-height: 1.75;
    margin: 2.5em 0;

    @include breakpoint(medium-desktop-up) {
      line-height: 2;
    }
  }
}

h1,
h2,
p b,
p strong,
li strong {
  font-family: $semibold;
}

a {
  color: color(offwhite);
}

button {
  cursor: pointer;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

// container class for generic text pages
.container {
  margin: auto;
  max-width: 900px;
  min-height: 100vw;

  @include breakpoint(small-tablet-up) {
    min-height: 75vw;
  }

  @include breakpoint(small-desktop-up) {
    min-height: 400px;
  }

  h2 {
    margin: 1.5em 0 0;

    & + p {
      margin-top: 1em;
    }
  }

  li {
    line-height: 1.75;
    margin: 1em 0;
  }
}

.button {
  background: #CC494D;
  border: 0;
  color: #fff;
  display: inline-block;
  font-family: $semibold;
  font-size: 13px;
  letter-spacing: 1.3px;
  line-height: 1.5;
  padding: 1.25em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.screenreader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px 1px 1px 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// generic grid class for visitor info and contact pages
.grid {
  font-size: 16px;
  line-height: 2;
  margin: 0;
  padding: 0;

  @include breakpoint(small-tablet-up) {
    // fallback grid
    display: flex;
    flex-wrap: wrap;

    // real grid
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);

    @supports (grid-gap: 15px) {
      display: grid;
    }
  }

  @include breakpoint(small-desktop-up) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(large-desktop-up) {
    grid-template-columns: repeat(4, 1fr);
  }
}

// generic grid box class for visitor info and contact pages
.box {
  align-items: center;
  background: #303848;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 60px 8vw;
  text-align: center;
  width: 100%; // fallback

  @include breakpoint(large-mobile-down) {
    & + & {
      margin-top: 15px;
    }
  }

  // grid starts here
  @include breakpoint(small-tablet-up) {
    margin: 8px; // fallback
  }

  @include breakpoint(small-desktop-up) {
    width: calc(50% - 16px); // fallback
  }

  @include breakpoint(large-desktop-up) {
    width: calc(1/3 * 100% - 16px); // fallback
  }

  @supports (grid-gap: 15px) {
    margin: 0;
    width: auto;
  }
}
